{
  "branches": ["main"],
  "plugins": [
    [
      "@semantic-release/commit-analyzer",
      {
        "preset": "conventionalcommits"
      }
    ],
    [
      "@semantic-release/release-notes-generator",
      {
        "preset": "conventionalcommits",
        "presetConfig": {
          "header": "Changelog of GeoStyler Client"
        }
      }
    ],
    [
      "@semantic-release/exec",
      {
        "prepareCmd": "echo \"export default '${nextRelease.version}';\" > ./src/version.ts"
      }
    ],
    "@semantic-release/changelog",
    "@semantic-release/npm",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md", "package.json", "package-lock.json", "./src/version.ts"
        ],
        "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
      }
    ],
    [
      "@semantic-release/github",
      {
        "assets": [
          {"path": "./binaries/geostyler-cli-linux.zip", "label": "GeoStyler CLI Linux executable"},
          {"path": "./binaries/geostyler-cli-macos.zip", "label": "GeoStyler CLI MacOS executable"},
          {"path": "./binaries/geostyler-cli-win.exe.zip", "label": "GeoStyler CLI Windows executable"}
        ]
      }
    ]
  ]
}
